body{
  background-color: black;
}
.img-100{
  width: 100%;
}
.text-center{
  text-align: center;
}
.img-fixer{
  max-width: 250px;
  padding-top: 60px;
}
.col-md-6, .col-sm-6{
  min-height: 174px;
}
.grid{
  padding-top: 50px;
}
.rdcom{
  max-width: 360px;
  padding:60px 0;
}
.grid2{
  padding-bottom: 60px;
}
