<div class="container grid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/disneychannel.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/disneycom.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/siriusxm.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/tunein.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/slacker.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/aha.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/bop.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/popstar.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <img class="rdcom" src="https://s3.amazonaws.com/myfangate.com/rdlisten/rdcom-compressed.jpg">
    </div>
  </div>
</div>
