<div class="container grid grid2">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/z103.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/tom977.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/star1037.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/101rose.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/kcha959.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/923gxl.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/q1031.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/kdrm.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/staram1330.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img src="https://s3.amazonaws.com/myfangate.com/rdlisten/hot100.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/k1071fm.jpg">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
      <img class="img-fixer" src="https://s3.amazonaws.com/myfangate.com/rdlisten/power963.jpg">
    </div>
  </div>
</div>
